@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }
    </style>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="~/Scripts/controllers/owner-controller.js"></script>
    <script type="text/javascript">

    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        <hr />
        <b>Male</b>
        <ul ng-repeat="m in Animals.Male">
            <li>{{ m.Name}}</li>
        </ul>
        <b>Female</b>
        <ul ng-repeat="m in Animals.Female">

            <li>{{ m.Name}}</li>

        </ul>
    </div>
</body>
</html>
